.signup-form{
    padding: 40px 80px;
}
.signup-form h2{
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 40px;
    letter-spacing: 0.6px;
}
/* .signup-form>.ant-space.ant-space-vertical{
    width: 30%;
} */
.signup-form .ant-input-affix-wrapper{
    background-color: #253041;
    /* width: 434px; */
    border: none;
    border-radius: 5px;
}
.signup-form .ant-form.ant-form-horizontal{
    width: 434px;
}
.signup-form .ant-input-affix-wrapper input{
    padding: 10px 14px;
    box-sizing: border-box;
    background-color: #253041 !important;
    color: #fff;
}
.signup-form .ant-input-group-wrapper{
    margin-bottom: 10px;
}
.signup-form .ant-input-group-addon{
    background-color: transparent;
    border: none;
}
.signup-form .ant-input-group-addon span{
    color: #7C859A;
    font-size: 16px;
}
.signup-form .ant-input-affix-wrapper svg{
    font-size: 22px;
    color: #56617C;
}
.signup-form .ant-input-affix-wrapper input::placeholder{
    font-family: 'Monsterrat', sans-serif;
    font-size: 16px;
    color: #6F7C9D;
    font-style: normal;
}
.signup-form .ant-checkbox-inner{
    background-color: rgba(37, 48, 65);
    border: 1px solid rgba(0,0,0,.25);
}
.signup-form .ant-checkbox-wrapper{
    color: rgba(124, 133, 154);
    line-height: 1.5;
}
.ant-tooltip-inner{
    background-color: #253041 !important;
    text-align: center;
}
.ant-tooltip-inner span{
    color: #818EAE;
}
.signup-form .ant-input-group-addon svg:hover{
    color: #4e7fff;
    transition: .3s;
}
.signup-form .ant-btn.ant-btn-primary.ant-btn-block span{
    font-size: 16px;
}
.signup-form .ant-btn.ant-btn-primary.ant-btn-block{
    padding: 10px 0;
    height: 100%;
    margin-top: 30px;
}
.signup-form .ant-input-group-addon{
    padding-right: 0;
}
.signup-form .ant-input-affix-wrapper-status-error{
    background: #253041 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    /* background-color: #253041 !important; */
    -webkit-text-fill-color: #fff !important;
    -webkit-box-shadow: 0 0 0 30px  #253041 inset !important;
    transition: background-color 100s ease-in-out 0s;
    /* color: #fff; */
}